/* Writing Exclusive */

.writing-material-card {
    border: 2.5px solid var(--primary-color);
    border-radius: 20px;
}
.writing-input-card {
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
}
#hideWordCount {
    font-weight: bold;
    color: var(--primary-color);
}

.word-count {
    margin-left: 10px;
}

/* Reading Exclusive */

h2 {
    text-align: center;
}

.reading-material-card {
    border-width: 2.5px;
    border-style: solid;
    border-radius: 20px;
}
.card-body .excerpt_highlight {
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
    padding: .25em;
}
.card-body .sentence_insertion {
    width: 14px;
    height: 20px;
    background-color: black;
    display: inline-block;
    vertical-align: text-top;
    margin-right: .2em;
    cursor: pointer;
}
