/* Styles that used more than one section in the test (e.g. Listening and Reading) */

[data-bs-theme="official"] * {
    --primary-color: #37696E;
    --primary-color-dark: #2d4f4f;
}
[data-bs-theme="black"] * {
    --primary-color: #000000;
    --primary-color-dark: #000000;
}
[data-bs-theme="gray"] * {
    --primary-color: #E0E0E0;
    --primary-color-dark: #899197;
}
[data-bs-theme="green"] * {
    --primary-color: #64B190;
    --primary-color-dark: #4A7071;
}
[data-bs-theme="blue"] * {
    --primary-color: #7AD4D0;
    --primary-color-dark: #64A0A8;
}

:root {
    --primary-color: #37696E;
    --primary-color-dark: #2d4f4f;
}

body {
    overflow: hidden;
    height: 100vh;
}

.primary-navbar {
    height: 60px;
    background-color: var(--primary-color);
}

.secondary-navbar {
    height: 40px;
    flex-wrap: nowrap;
}

.next-btn {
    background-color: white;
    color: var(--primary-color);
    border-radius: 15px;
    border-width: 0px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
}
.next-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
.next-btn:active {
    background-color: rgba(255, 255, 255, 0.7);
}
.next-btn:disabled {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: not-allowed;
}

.other-btn {
    background-color: transparent;
    color: white;
    border-color: gray;
    border-radius: 15px;
    border-width: 2.5px;
    padding: 10px 25px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}
.other-btn:hover {
    color: rgba(255, 255, 255, 0.9);
}
.other-btn:active {
    color: rgba(255, 255, 255, 0.7);
}
.other-btn:disabled {
    color: rgba(255, 255, 255, 0.6);
    cursor: not-allowed;
}

.hide-hint-btn {
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary-color);
}
.hide-hint-btn:hover {
    filter: brightness(70%);
}
.hide-hint-btn:active {
    color: var(--primary-color);
}

.progress-bar-bg {
    background-color: var(--primary-color);
}

.question-zone {
    height: calc(100vh - 110px);
}

.card-container {
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px;
}

.single-select-button {
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
    width: 25px;
    height: 26px;
    display: inline-block;
    margin-top: 0px;
}
.single-select-button:checked {
    background-color: black;
    background-image: none;
    border-color: black;
}
